$redAccents: #ff8484;
$greenAccents: #7bae73;
$gray: #b4b4b4;
$black: #3f3f3f;
$gray2: #eeeeee;
$mainBG: #e5e5e5;
$white: #ffffff;

$fontsize: 16px;
$fontfamily: 'SourceSansPro', sans-serif;

$md1: 1200px;
$md2: 991px;
$md3: 767px;
$md4: 479px;

$containerMaxWidth: 1440px;
