$redAccents: #FF8484;
$greenAccents: #7BAE73;
$gray: #B4B4B4;
$black: #3F3F3F;
$gray2: #EEEEEE;
$mainBG: #E5E5E5;
$white: #FFFFFF;

$fontsize: 16px;
$fontfamily: 'SourceSansPro', sans-serif;


$md1:1200px;
$md2:991px;
$md3:767px;
$md4:479px;

$containerMaxWidth: 1440px;

